<section id="about" class="bg-light-gray">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="section-heading">About Us</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque augue nec egestas sagittis. Aliquam tempus tempor sapien. Pellentesque mollis quis orci quis mattis.</p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <h3>Our Story</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque augue nec egestas sagittis. Aliquam tempus tempor sapien. Pellentesque mollis quis orci quis mattis. Sed suscipit libero nunc, nec aliquam est accumsan imperdiet.</p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <h3>The Taproom</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque augue nec egestas sagittis. Aliquam tempus tempor sapien. Pellentesque mollis quis orci quis mattis. Sed suscipit libero nunc, nec aliquam est accumsan imperdiet.</p>
            </div>
        </div>
    </div>
</section>