<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Our Location</h3>
                <p>{{ site.title }}<br>
                {{ site.address }}<br>
                {{ site.city }}, {{ site.state }} {{ site.zip }}</p>
                <p>Phone:<br><a href="tel:+17047063807">{{ site.phone }}</a></p>
                <p>E-mail:<br><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            </div>
            <div class="col-sm-4">
                <h3>Taproom Hours</h3>
                <p>Sunday: Closed<br>
                Monday: Closed<br>
                Tuesday: Closed<br>
                Wednesday: Closed<br>
                Thursday: 4-9pm<br>
                Friday: 4-10pm<br>
                Saturday: 2-10pm</p>
            </div>
        </div>
    </div>
</section>