<section id="contact">
    <div class="container">
        <div class="row text-center">
            <!-- <div class="col-xs-12">
                <h2 class="section-heading">Contact Us</h2>
            </div> -->
            <div class="col-sm-4 col-sm-offset-2">
                <h3>Contact</h3>
                <p>{{ site.title }}<br>
                {{ site.address }}<br>
                {{ site.city }}, {{ site.state }} {{ site.zip }}</p>
                <p><a href="tel:+17047063807"><i class="fa fa-phone"></i> {{ site.phone }}</a><br>
                <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i> {{ site.email }}</a></p>
                <h3>Taproom Hours</h3>
                <p>Sunday: Closed<br>
                Monday: Closed<br>
                Tuesday: Closed<br>
                Wednesday: Closed<br>
                Thursday: 4-9pm<br>
                Friday: 4-10pm<br>
                Saturday: 2-10pm</p>
            </div>
            <div class="col-sm-4">
                <h3>Follow Us</h3>
                <p><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook"></i> facebook.com/{{ site.facebook_username }}</a><br>
                <a href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i> twitter.com/{{ site.twitter_username }}</a><br>     
                <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank"><i class="fa fa-instagram"></i> instagram.com/{{ site.instagram_username }}</a></p>
                <h3>Our Location</h3>
                <p>High Branch is located in the Gibson Mill.</p>
                <p>As you enter the parking lot, our front entrance is through the double doors under the green awning. We are in Suite 148 at the end of the hall.</p>
                <p>You can also use the rear entrance which is just behind the main building and to the left.</p>
                <p><a href="https://goo.gl/maps/NvebAqv1cao" target="_blank"><i class="fa fa-map-marker"></i> Map &amp; Directions</a></p>
            </div>
        </div>
    </div>
</section>