<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>Our Location</h3>

                <p>{{ site.title }}<br>
                {{ site.address }}<br>
                {{ site.city }}, {{ site.state }} {{ site.zip }}</p>

                <p>Phone:<br><a href="tel:+17047063807">{{ site.phone }}</a></p>
                <p>E-mail:<br><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>

                <!-- <p>Come check out the rustic brick, tall ceilings, and exposed beams! We're located at the Gibson Mill in Concord, NC. Our taproom is now open so stop by and say hello.</p> -->
            </div>
            <div class="col-md-3">
                <h3>Taproom Hours</h3>

                <p>Sunday: Closed<br>
                Monday: Closed<br>
                Tuesday: Closed<br>
                Wednesday: Closed<br>
                Thursday: 4-9pm<br>
                Friday: 4-10pm<br>
                Saturday: 2-10pm</p>

                <!-- <h3>Follow Us</h3>

                <p><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">Facebook.com/{{ site.facebook_username }}<br>
                <a href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank">Twitter.com/{{ site.twitter_username }}<br>
                <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">Instagram.com/{{ site.instagram_username}}</a></p> -->

            </div>
            <!-- <div class="col-md-6">
                <h3>Send Us A Message</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name *" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12">
                            <div id="success"></div>
                            <button type="submit" class="btn">Send Message</button>
                        </div>
                    </div>
                </form>
            </div> -->
        </div>
    </div>
</section>