<header>
    <div class="container">
	    
	        <div class="intro-text">
	            <!-- <div class="intro-lead-in">Welcome to High Branch</div> -->
	            <div class="intro-heading">Belgian Inspired Saisons<br><span>&amp;</span> Hop Forward Ales</div>
	            <!-- <a href="#beer" class="page-scroll btn btn-xl">What's On Tap</a> -->
	        </div>
    </div>
</header>

<!-- <div class="col-md-6 col-md-offset-3">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe src="//player.vimeo.com/video/58226214" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div> -->