{% for beer in site.beer %}
    <div class="beer-modal modal fade" id="{{ beer.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-image" style="background-image: url('../img/beer/{{ beer.img }}');">
            </div>
            <div class="modal-body">
                <h1><img src="{{ site.baseurl }}/img/leaves.svg">{{ site.title }}</h1>
                <h3>{{ beer.name }}</h3>
                <p class="lead text-muted">{{ beer.style }}</p>
                <p>{{ beer.description }}</p>
                <ul class="list-unstyled item-details">
                    <li>ABV:
                        <strong>{{ beer.abv }}
                        </strong>
                    </li>
                    <li>Gravity:
                        <strong>{{ beer.gravity }}
                        </strong>
                    </li>
                    <li>Bitterness:
                        <strong>{{ beer.bitterness }}
                        </strong>
                    </li>
                    <li>Sourness:
                        <strong>{{ beer.sourness }}
                        </strong>
                    </li>
                    <li>Availability:
                        <strong>{{ beer.availability }}
                        </strong>
                    </li>
                </ul>
                <p><a data-dismiss="modal"><i class="fa fa-long-arrow-left"></i> Back to What's On Tap</a></p>
            </div>
        </div>
    </div>
{% endfor %}