.ac-overlay{
    height:100%;
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // background: $gray-darkest;
    background: rgba(0,0,0,0.8);
    z-index: 99998;
    opacity:0;
    cursor: wait;
}
.ac-container {
    width: 320px;
    position: fixed;
    padding: 20px;
    background: #fff;
    z-index: 99999;
    opacity:0;
    text-align:center;
    border-radius: 3px;
}
.ac-container h1 {
    margin-top: 0;
    img {
        height: auto;
        width: 180px;
    }
}
.ac-container h2 {
    font-size: 18px;
}
.ac-container h3 {
}
.ac-container p {
    font-size: 12px;
}
.ac-container select, 
.ac-container input {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    margin: 0 3px;
    border:1px solid #ccc;
}
.ac-container input.day{
    width:45px;
    height:27px;
}
.ac-container input.year{
    width:70px;
    height: 27px;
}
.ac-container select {
    background: #ffffff;
    height:27px;
}
.ac-container button {
    @include heading-font;
    display: block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12px;
    background: $brand-primary;
    color: #fff;
    margin: 6px auto 0 auto;
    text-transform: uppercase;
}
.ac-container button:hover{
    background: darken($brand-primary,10%);
}
.ac-container .errors  {
    margin: 0 0 10px 0;
    font-size: 12px;
    color: $brand-danger;
}
.ac-container .errors ul,
.ac-container .errors li{
    padding:0 0 3px 0;
    margin:0 0 0 0;
    list-style:none;
}
.ac-container .fields {
    clear:both;
}             
@media (max-width: 500px) {
    .ac-container {
            width:auto;
        margin-right:20px;
        margin-left:1px;
    }
    .ac-container select, 
    .ac-container input.day, 
    .ac-container input.year{
            display:block;
        margin-bottom:10px;
        margin-right:0;
        width:100%;
    }
    .ac-container button {
            display: block;
        width: 100%;
    }
}