body {
	background: #000000 url(/images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family: 'Raleway', sans-serif;
    padding-top: 50px;
}
body#bg-beer {
	background: #000000 url(https://images.unsplash.com/photo-1460899960812-f6ee1ecaf117?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=a877bb72752a01bdc4a0f76f29db3239) no-repeat center center fixed;
}
.overlay {
	background: rgba(0,0,0,.75);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	// z-index: 1;
}