header {
	background-color: $gray-darkest;
	background-image: url('../img/header-bg.jpg');
	background-repeat: none;
	background-attachment: scroll;
	background-position: center center;
	@include background-cover;
	text-align: center;
	color: white;
	.intro {
		padding: 100px 0 50px 0;
	}
}

@media(min-width:768px) {
	header {
		.intro {
			padding: 150px 0;
		}
	}
}